[submodule "ostree-releng-scripts"]
	path = ostree-releng-scripts
	url = https://github.com/ostreedev/ostree-releng-scripts.git
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
